# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/LICENSE
vendor/composer/platform_check.php
vendor/phpmailer/phpmailer/.editorconfig
vendor/phpmailer/phpmailer/COMMITMENT
vendor/phpmailer/phpmailer/composer.json
vendor/phpmailer/phpmailer/get_oauth_token.php
vendor/phpmailer/phpmailer/LICENSE
vendor/phpmailer/phpmailer/README.md
vendor/phpmailer/phpmailer/SECURITY.md
vendor/phpmailer/phpmailer/VERSION
vendor/phpmailer/phpmailer/language/phpmailer.lang-af.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ar.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-as.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-az.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ba.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-be.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-bg.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-bn.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ca.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-cs.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-da.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-de.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-el.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-eo.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-es.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-et.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-fa.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-fi.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-fo.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-fr.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-gl.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-he.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-hi.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-hr.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-hu.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-hy.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-id.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-it.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ja.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ka.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ko.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-lt.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-lv.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-mg.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-mn.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ms.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-nb.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-nl.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-pl.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-pt_br.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-pt.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ro.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-ru.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-si.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-sk.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-sl.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-sr_latn.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-sr.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-sv.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-tl.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-tr.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-uk.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-vi.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-zh_cn.php
vendor/phpmailer/phpmailer/language/phpmailer.lang-zh.php
vendor/phpmailer/phpmailer/src/DSNConfigurator.php
vendor/phpmailer/phpmailer/src/Exception.php
vendor/phpmailer/phpmailer/src/OAuth.php
vendor/phpmailer/phpmailer/src/OAuthTokenProvider.php
vendor/phpmailer/phpmailer/src/PHPMailer.php
vendor/phpmailer/phpmailer/src/POP3.php
vendor/phpmailer/phpmailer/src/SMTP.php
