.dashboard {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #2e2e2e;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff;
}

.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #2b2b2b;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  overflow-y: scroll;
  max-height: 700px;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.actu-title {
  text-align: center;
}
.modalH2 {
  font-size: 30px;
}
.modalP {
  color: #888;
  margin-bottom: 15px;
}
.modalText {
  margin-bottom: 20px;
}
.modalClose {
  border: 1px solid #888;
  padding: 10px;
  border-radius: 6px;
}
.modalLink {
  color: #1e90ff;
  padding-bottom: 20px;
}

/* Bouton du burger */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}
/* Barres du burger */
.bm-burger-bars {
  background: #ffffff;
}
/* Bouton fermer */
.bm-cross {
  background: #bdc3c7;
}
/* Sidebar */
.bm-menu {
  background: #2e2e2e;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
/* Item de la sidebar */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.actu-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graphs {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 90vh;
  background-color: #2e2e2e;
  padding: 20px;
  margin-top: 15vh;
}

.AdminTable {
  padding: 50px;
  border-radius: 5px;
  background-color: #2b2b2b;
  max-width: 100vh;
  margin-top: 10vh;
  margin-bottom: 100px;
}

.TableRow {
  border-bottom: 1px solid #888;
}
.Table {
  border-radius: 5px;
  border-color: #888;
}
.TableInput {
  border-radius: 5px;
  border: none;
  background-color: #0d0d0d;
}
.TableBtn {
  border-radius: 5px;
  border: none;
  background-color: #0d0d0d;
}
.TableModal {
  border-radius: 5px;
  border: none;
  background-color: #0d0d0d;
}

input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

.NewsTable {
  border: 1px solid #888;
  border-radius: 5px;
}

.sectionTitle {
  margin-bottom: 40px;
}
.profile-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SheetBtn {
  border: none;
  margin: 20px;
  border-radius: 5px;
  width: 20vh;
}
.Sheet {
  background-color: #2b2b2b;
  border: none;
  min-width: 50%;
}

.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.tabs {
  display: flex;
  flex-direction: column;
  width: 90vh;
  margin: 100px;
}
.tablist {
  height: auto;
  border-radius: 5px;
}
.profile-card {
  border: none;
  border-radius: 5px;
}

.ValoInputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
  gap: 2vw;
}

.SubmitBtn {
  border-radius: 5px;
}
.GameInput {
  border-radius: 5px;
  border: none;
  background-color: #0d0d0d;
}