@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap");
:root {
  --width-of-input: 200px;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
}

body {
  margin: 0;
  font-family: "Inclusive Sans", sans-serif;
  background-color: #212121;
  color: white;
}

.AuthSection {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}
.cus_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6vh;
  padding: 15px;
  border: 1px solid #3f3c3c;
  border-radius: 8px;
}

.cus_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6vh;
  padding: 15px;
  border: 1px solid #3f3c3c;
  border-radius: 8px;
}
.cus_container_res {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6vh;
  padding: 15px;
  margin-top: 70px;
  border: 1px solid #3f3c3c;
  border-radius: 8px;
}

.mydiv {
  width: 25%;
}

.form_container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 500px;
  margin: 20px;
}

.form_control {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
}

.form {
  position: relative;
  margin-bottom: 1vh;
  border-left: none;
}
/* styling of Input */
.textarea {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  margin-top: 0.9vh;
  border-bottom: var(--border-height) solid var(--border-before-color);
  border-right: none;
  border-left: none;
}
.input {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  margin-top: 0.9vh;
  border-bottom: var(--border-height) solid var(--border-before-color);
  border-right: none;
  border-left: none;
}
/* styling of animated border */
.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0px;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.4s;
}
.option {
  background-color: #212121;
}
/* Hover on Input */
input:hover {
  background: var(--input-hovered-color);
}
textarea {
  resize: none;
  border: none;
}
textarea:hover {
  background-color: var(--input-hovered-color);
}
textarea:focus {
  outline: none;
  border: none;
}
input:focus {
  outline: none;
  border: none;
  background-color: var(--input-hovered-color);
}
/* here is code of animated border */
input:focus ~ .input-border {
  width: 100%;
}
textarea:focus ~ .input-border {
  width: 100%;
}
.submit_control {
  display: flex;
  justify-content: center;
}
.submit {
  padding: 6px 15px;
  background-color: #212121;
  color: white;
  font-weight: 900;
  font-size: 15px;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
}
.submit:hover {
  background-color: #3f3c3c;
}


/* Style pour les écrans de 1160px ou moins */
@media (max-width: 1160px) {
  .cus_container_res {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vh;
    padding: 15px;
    margin-top: 30px;
    border: 1px solid #3f3c3c;
    border-radius: 8px;
  }
  
  .cus_container {
    flex-direction: column;
  }
  .mydiv {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mydiv h2 {
    text-align: center;
  }
  .headline {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .AuthSection {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .AuthSection {
    margin-top: 20px;
  }
  .form_container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 0;
    margin: 0;
  }
}

/* Style pour les écrans de 600px ou moins */
@media (max-width: 600px) {
  .cus_container {
    flex-direction: column;
  }
  .mydiv {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headline {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .form_control {
    display: flex;
    flex-direction: column;
  }
  .submit_control {
    margin-top: 5vh;
    width: 100%;
  }
  .submit {
    width: 100%;
  }
}

/* Responsive adjustments */
@media (min-width: 1160px) {
  .cus_container {
    width: 45%;
  }
}
